.result{
 padding: 10px 20px;
 background-color: #4CAF50;
 color: white;
 border: none;
 border-radius: 5%;
 cursor: pointer;
}

.result:hover{
    background-color: #45a049;
}

.result:active{
    background-color: #3e8e41;
}